<%= form_for @user, :html => { :class => "form-horizontal-for-admin user" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div>

      <p><strong>E-mail</strong> <%= @user.email %></p>

      <p><strong>Confirm token</strong> <%= @user.confirm_token %></p>
      
      <%= f.hidden_field :confirm_token, :value => @user.confirm_token %>

      <p><strong>Has user confirmed their email?</strong> <%= @user.email_confirmed %></p>
      
      <p><strong>Did user tick checkbox?</strong> <%= @user.checkbox_ticked %></p>
      
     <p><strong>User category</strong></p>

      <p><strong>User is registered as: </strong> <%= @user.category %></p>

      <p><%= radio_button("user", "category", "fashionista") %> Fashionista</p>

      <p><%= radio_button("user", "category", "sponsor") %> Sponsor</p>

      <p><%= radio_button("user", "category", "host") %> Host</p>

      <p><%= radio_button("user", "category", "streamer") %> Streamer</p>

  </div>

<% end %>
