
<div class="questionnaire-form">

	<%= form_for @user, :url => {:action => "submit_questionnaire"}, :html => { :class => "form-horizontal user" }, :remote => true do |f| %>

      <%= f.hidden_field :confirm_token, :value => @user.confirm_token %>

	<h2>Information to help us ensure your channel or blog is paired with the right sponsor and fashion show</h2>

	<%= f.text_field :channel_adress, :class => 'form-control', :placeholder => 'Channel address' %>

	<%= f.text_field :name, :class => 'form-control', :placeholder => 'Your name' %>

	<h2>Current number of followers</h2>

	<%= f.text_field :facebook_followers, :class => 'form-control form-followers', :placeholder => 'Facebook' %>

	<%= f.text_field :youtube_followers, :class => 'form-control form-followers', :placeholder => 'Youtube' %>

	<%= f.text_field :pinterest_followers, :class => 'form-control form-followers', :placeholder => 'Pinterest' %>

	<%= f.text_field :instagram_followers, :class => 'form-control form-followers', :placeholder => 'Instagram' %>

	<%= f.text_field :other_media_followers, :class => 'form-control form-followers', :placeholder => 'On other social media' %>

	<h2>Additional info</h2>

	<%= f.text_field :country, :class => 'form-control', :placeholder => 'City of residence' %>

	<%= f.text_field :style, :class => 'form-control', :placeholder => 'Focus of style or items covered' %>
<h5>Do you have a style or item preference for the kinds of fashion you feature on your show</h5>
	<%= f.text_field :gender_focus, :class => 'form-control', :placeholder => 'Gender focus (if any)*' %>
<h4>How would you describe the kind of viewers who regularly watch your show? Please be detailed and use the fashion-related keywords you use in video descriptions.</h4>
	<%= f.text_area :viewer_base_description, :class => 'form-control', :placeholder => 'Viewer base description' %>

	<%= f.submit 'Submit answers', :class => 'btn btn-warning' %>

	  <% if @user.errors.any? %>
	      <div class="error-body">
	        <ul>
	        <% @user.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	        </ul>
	      </div>
	  <% end %>
	<% end %>

</div>
