
<div class="questionnaire-form">

	<%= form_for @user, :url => {:action => "submit_questionnaire"}, :html => { :class => "form-horizontal user" }, :remote => true do |f| %>

      <%= f.hidden_field :confirm_token, :value => @user.confirm_token %>

	<h2>Information for us to help your fashion</h2>

	<%= f.text_field :company_name, :class => 'form-control', :placeholder => 'Company name' %>

	<%= f.text_field :company_url, :class => 'form-control', :placeholder => 'Company URL' %>

	<%= f.text_field :product_or_service_industry, :class => 'form-control', :placeholder => 'Do you offer products or services?' %>

	<%= f.text_field :name, :class => 'form-control', :placeholder => 'Name' %>

	<h2>Additional info</h2>

<h4>How would you describe the customers who buy your product. Put another way, who you would like to reach by sponsoring a fashion show livestreaing? Please be specific regarding age, size, style preferences (chic, hippy, sophisticated, urban etc), </h4>

	<%= f.text_field :customer_description, :class => 'form-control', :placeholder => 'Customer description' %>

	<%= f.submit 'Submit answers', :class => 'btn btn-warning' %>

	  <% if @user.errors.any? %>
	      <div class="error-body">
	        <ul>
	        <% @user.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	        </ul>
	      </div>
	  <% end %>
	<% end %>

</div>