<div class="signup-form">

	<%= form_for @user, :html => { :class => "form-horizontal user" }, :remote => true do |f| %>

	        <ul class="horizontal-list">
	          <li><%= f.check_box :checkbox_ticked %></li>
	          <li><p class="text-muted"><%= @checkbox_text %></p></li>
	        </ul>
		   

	      <%= f.hidden_field :checkbox_text, :value => @checkbox_text %>
	      <%= f.hidden_field :category, :value => @category %>

	      <%= f.text_field :email, :class => 'form-control', :placeholder => 'Email' %>

	      <%= f.submit 'Sign up', :class => 'btn btn-warning' %>

	  <% if @user.errors.any? %>
	      <div class="error-body">
	        <ul>
	        <% @user.errors.full_messages.each do |msg| %>
	          <li><%= msg %></li>
	        <% end %>
	        </ul>
	      </div>
	  <% end %>
	<% end %>

		<br>
	      <%= link_to 'Did not receive confirmation email?', '/resend_confirmation_email' %>
</div>