<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

    <div class="change_category_page_img">

    </div>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <div>
      <%= f.label :user, @user.email %>
      <p>You are registered as a <%= f.label :user, @user.category %>.</p>

	  <%= f.hidden_field :confirm_token, :value => @user.confirm_token %>

  <p><%= radio_button("user", "category", "fashionista") %> Fashionista</p>

  <p><%= radio_button("user", "category", "sponsor") %> Sponsor</p>

  <p><%= radio_button("user", "category", "host") %> Host</p>

  <p><%= radio_button("user", "category", "streamer") %> Streamer</p>

  </div>

      <%= f.submit 'Save changes', :class => 'btn btn-warning' %>



<% end %>
